@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
:root{
    --light:#ffe2b6;
    --beer: #eaecee;
    --cyan:#d2af76;
    --dark:rgb(221, 166, 77);
    --border: 1px solid #dce1e4;
    --box-shadow: 5px 5px 15px #444,
    -5px -5px 15px #eee;
    --transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    --gradient-bg: linear-gradient(45deg, #005b46, #00b8a5);
      --light: #eaecee;
      --background-color: #21332d;
      --facebook: rgb(29, 108, 246);
      --tiktok: linear-gradient(to top right, #69c9d0, #ee1d52); 
  }
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
}
.container{
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 0;
}
#header{
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    /* background-color: #0d0d0e; */
}
.logo{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 5px;
}
.logo > img{
    width: 70px;
    height: 70px;
    overflow: hidden;
    object-fit: cover;
}
#header.background__header{
    background-color: #09231dba;
    transition: .3s;
}
.list__header{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list__header > li{
    list-style: none;
}
.list__header > li > a{
    text-decoration: none;
    font-size: 18px;
    color: #eee;
    transition: .3s;
}
.list__header > li > a:hover{
    text-shadow: 0 0 20px #00c2bd,
    0 0 40px #00c2bd,
    0 0 60px #00c2bd,
    0 0 100px #00c2bd;
}
#menu,
#menu__label,
#close{
    display: none;
}
section{
    width: 100vw;
    height: 100vh;
}
#home{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.bg{
    width: 100%;
    height: 100%;
    background: url(./images/bg.jpg) no-repeat center/cover;
    filter: brightness(.5);
}
.content{
    position: absolute;
    /* background-color: #00c237; */
    width: max-content;
    z-index: 1;
}
.content h5,
.content h1{
    text-shadow: 0 0 30px #00c295;
    color: #69d0b8;
}
.content h1{
    font-size: 150px;
}
.content h5{
    font-size: 30px;
}
.effect{
    position: absolute;
}
.cloud{
    position: absolute;
    z-index: 2;
    width: 1000px;
}
#cloud1{
    position: relative;
    transform: translate(-800px, -288px
    );
    filter: brightness(.70);
}
#cloud2 {
    position: relative;
    transform: translate(-250px, -1215px ) rotate(180deg);
    filter: brightness(.4);
}
.hand{
    position: absolute;
    z-index: 99;
    filter: brightness(.7);
}
#hand1{
    position: relative;
    width: 530px;
    transform: translate(-800px , -230px) rotate(10deg);
    margin-bottom: 100px;
    /* background-color: #00afc2; */
}
#hand2{
    width: 600px;
    transform: translate(200px , -390px) rotate(20deg);
    /* background-color: #00c295; */
}
#about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 200px;
    position: relative; 
}
#about::after{
    content: "";
    position: absolute;
    height: 20%;
    width: 100%;
    background: linear-gradient( to top, var(--background-color), var(--background-color), transparent);
    top: -10%;
    z-index: 99;
}
.bg__about{
    width: 100%;
    height: 100%;
    filter: brightness(.8);
    position: relative;
}
.bg__about > img{
    position: absolute;
    bottom: 0;
    right: 0;
}
.image{
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 10px;
    /* position: absolute; */
}
.image > img{
    object-fit: cover;
    height: 100%;
    position: relative;
}
.content__about{
    position: relative;
    width: 585px;
    height: 450px;
    /* height: max-content; */
    line-height: 20px;
    /* background-color: #00c2bd;   */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.content__about h5,
.content__about p,
.content__about h1{
    color: #eee;
}
.content__about h5{
    font-size: 20px;
    line-height: 60px;
}
.content__about h1{
    font-size: 40px;
    animation: neon 3ms linear infinite;
}
#school{
    color: #ffffff;
    text-shadow:  0 0 20px #00785c,
    0 0 40px #00785c,
    0 0 60px #00785c,
    0 0 80px #00785c
    ;

}
@keyframes neon{
    20%, 24%, 55%{
        color: #00785c;
        text-shadow: none;
    }
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100%{
        color: #fff;
        text-shadow: 0 0 20px #00c295,
        0 0 40px #00c295,
        0 0 50px #00c295
    }
}
@keyframes neon1{
    0%,18%,
    20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #00785c;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 20px #00c295,
        0 0 40px #00c295,
        0 0 50px #00c295
    }
}
.see__more{
    width: 150px;
    height: 40px;
    background-color: #00c295;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .5s;
    margin: 20px 0;
    position: relative;
    cursor: pointer;
}
.see__more:hover{
    color: #eee;
}
.see__more__element{
    margin-left: 30px;
    position: absolute;
    transform: translateX(650px);
    transition: .18s ease;
}
.content__about__element{
    margin-left: 30px;
    position: absolute;
    transition: .18s ease;
    text-align: justify;
}
.title__seemore{
    margin-top: 20px;
    font-size: 20px;
    color: #00c295;
}
.year{
    color: #00785c;
    line-height: 20px;
}
.content__about__element{
    width: 80%;
}
.content__about__element .item{
    padding: 30px 0;
}
#hide__off{
    width: 150px;
    height: 40px;
    background-color: #00c295;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .5s;
    margin: 20px 0;
    cursor: pointer;
}
#hide__off:hover{
    color: #eee;
}
.content__about.active .content__about__element{
    transition: .18s ease;
    transform: translateX(-550px);
}
.content__about.active .see__more__element{
    transition: .18s ease;
    transform: translateX(0px);
}
.content__about.active #me{
    transform: rotate(270deg);
    content: url(./images/Picsart_23-08-13_03-29-14-709.png);
}
.title__service{
    padding-top: 150px;
    display: grid;
    place-items: center;
}
.title__service h1{
    font-size: 40px;
    color: #eee;
}
.title__service h3{
    font-size: 20px;
    color: #eee;
    padding-top: 10px;
}
#service{
    border-top: 1px solid #444;
    background-color: var(--background-color);
    display: grid;
    place-items: center;
    width: 80vw;
    position: relative;
    left: 10vw;
}
.service__item{
    width: 300px;
    height: 350px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 20px;
    width: 90%;
    height: 80%;
    /* background-color: #00afc2; */
}
.service__item .item{
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    background-color: #444444;
    display: grid;
    place-items: center;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
}
.service__item .item .icon i{
    font-size: 40px;
    font-weight: 800;
    color: #00785c;
}
.service__item .item h1{
    color: #eee;
    font-size: 20px;
}
.service__item .item p{
    color: #eee;
    text-align: center;
}
.service__item .item button{
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    color: black;
    background-color: #00c295;
    border-radius: 5px;
    transition: .3s;
    font-size: 14px;
    padding: 10px;
}
.service__item .item button:hover{
    color: #eee;
}
.line{
    width: 10px;
    height: 1px;
    background-color: #444;
    
}
#skill{
    width: 80vw;
    position: relative;
    left: 10vw;
    border-top: 1px solid #444;
    display: grid;
    place-items: center;
}
.title{
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
}
.listSkill{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    width: 80%;
}
.listSkill .evaluate{
    width: 100%;
    height: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}
.listSkill .evaluate::before{
    position: absolute;
    height: 100%;
    width: var(--point);
    background-image: var(--gradient-bg);
    content: '';
    border-radius: 10px;
}
.item .name{
    color: #eee;
}
#contact{
    /* background-color: #00afc2; */
    width: 80vw;
    height: 100vh;
    position: relative;
    left: 10vw;
    display: grid;
    place-items: center;
    border-top: 1px solid #444;
}
.list__contact{
    display: grid;
    place-items: center;
    width: 90%;
    height: max-content;
    /* background-color: #005b46; */
}
.item__contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__contact .item{
    width: 250px;
    height: 250px;
    background-color: #444;
    border-radius: 10px;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item__contact .item .icon i{
    font-size: 25px;
    color: #0f988a;
}
.item__contact .item h3{
    font-size: 20px;
    margin: 10px 20px;
    color: #eee;
}
.item__contact .item p{
    font-size: 16px;
    color: #eee;
}

.contact__end{
    width: 80%;
    height: 50vh;
    background-color: #00c2bd;
    position: relative;
    left: 10%;
    display: grid;
    place-items: center;
}
.footer{
    width: 100vw;
    height: 50vh;
    background-color: #080d0b;
    display: grid;
    place-items: center;
}
.header__footer{
    /* background-color: #00c2bd; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list__social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 20px;
}
.list__social > li{
    list-style: none;
    border: 3px solid #eee;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    margin: 10px;
}
.list__social > li > a{
    color: #00785c;
    transition: .3s;
}
.list__social > li > a:hover{
    color: #00ffc3;
    text-shadow: 0 0 20px #00785c,
    0 0 30px #00785c,
    0 0 40px #00785c,
    0 0 50px #00785c;
}
.list__social > li > a > i{
    font-size: 20px;
}
.send__email > label{
    font-size: 20px;
    color: #eee;

}
.send__email > input{
    width: 500px;
    height: 40px;
    border: 2px solid #555;
    outline: none;
    border-radius: 20px;
    padding-left: 20px;
    background-color: #444;
    margin: 10px 20px;
    color: #eee;
}
.send__email > button{
    width: max-content;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #00785c;
    transition: .3s;
    cursor: pointer;
}
button:hover{
    color: #eee;
    background-color: #00d6a4;
    box-shadow:0 0 20px #00785c,
    0 0 30px #00785c,
    0 0 40px #00785c,
    0 0 0px #00785c;
}
.main__footer{
    /* background-color: #00c295; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main__footer > .des__footer{
    width: 80%;
    height: max-content;
    text-align: center;
    margin: 20px;
}
.main__footer > .des__footer > p{
    font-size: 16px;
    color: #eee;
}
.link__footer{
    /* background-color: #21332d; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.list__footer > li{
    list-style: none;
}
.list__footer > li > a{
    text-decoration: none;
    font-size: 20px;
    color: #00d5a3;
    transition: .3s;
}
.list__footer > li > a:hover{
    color: #00ffc3;
    text-shadow: 0 0 20px #00785c,
    0 0 30px #00785c,
    0 0 40px #00785c,
    0 0 50px #00785c;
}
.copyright__footer{
    /* background-color: #00c2bd; */
    padding: 10px 20px;
}
.copyright__footer > span{
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #eee;
}
.service__h1{
    color: #00ffc3;
    animation: neon1 4s linear infinite;
}

.code-loader {
    color: #fff;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 100px;
    opacity: 0.8;
  }
  
  .code-loader span {
    display: inline-block;
    animation: pulse_414 0.4s alternate infinite ease-in-out;
  }
  
  .code-loader span:nth-child(1) {
    animation-delay: 0.4s;
  }
  .code-loader span:nth-child(2) {
    animation-delay: 0.5s;
  }
  .code-loader span:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes pulse_414 {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }




  @media  screen and (max-width: 1024px) {
    #hand1 {
        position: relative;
        width: 270px;
        transform: translate(-430px , -150px) rotate(20deg);
        margin-bottom: 100px;
    }
    #hand2 {
        width: 290px;
        transform: translate(150px , -260px) rotate(20deg);
    }
    .content h1{
        font-size: 100px;
    }
    .content h5{
        font-size: 40px;
    }
    #about{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0 20px;
    }
    .image{
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }
    .content__about{
        width: 420px;
        height: 530px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin-top: 20px;
    }
    .content__about h5{
        font-size: 20px;
        line-height: 25px;
        margin: 20px 10px;
    }
    .content__about h1{
        font-size: 40px;
        animation: neon 3ms linear infinite;
    }
    .content__about p{
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 1px;
    }
    .see__more__element{
        margin-left: 30px;
        position: absolute;
        transform: translateX(650px);
        transition: .18s ease;
    }
    .content__about__element{
        margin-left: 30px;
        position: absolute;
        transition: .18s ease;
        text-align: justify;
    }
    .title__seemore{
        margin-top: 20px;
        font-size: 20px;
        color: #00c295;
    }
    .year{
        color: #00785c;
        line-height: 20px;
    }
    .content__about__element{
        width: 100%;
        padding: 0 10px;
        margin: 0;
        text-align: center;
    }
    .content__about__element .item{
        padding: 30px 0;
    }
    .title__service{
        padding-top: 150px;
        display: grid;
        place-items: center;
    }
    .see__more__element{
        margin: 10px;
        height: 100%;
        position: absolute;
        transform: translateX(650px);
        transition: .18s ease;
        text-align: center;
    }
    .see__more__element > .item{
        margin: 20px 10px;
    }
    .see__more__element p {
        font-size: 14px;
    }
    .title__seemore{
        margin-top: 10px;
        font-size: 25px;
        color: #00c295;
    }
    .year{
        font-size: 16px;
        color: #00785c;
        line-height: 20px;
        padding: 20px 0px;
    }
    .content__about__element .item{
        padding: 30px 0;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .logo > img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .list__header{
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
    #header{
        height: 100px;
        transition: .3s;
    }
    #header.background__header{
        background-color: #09231dba;
        transition: .3s;
    }
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .list__header > li > a{
        text-decoration: none;
        font-size: 23px;
        color: #eee;
        transition: .3s;
    }
    .list__header > li > a:hover{
        color: #00ffc3;
        text-shadow: 0 0 20px #00785c,
        0 0 40px #00785c,
        0 0 60px #00785c,
        0 0 80px #00785c;
    }
    #cloud1{
        position: relative;
        transform: translate(-800px, -188px
        ) scale(1.1);
        filter: brightness(.70);
    }
    #cloud2 {
        position: relative;
        transform: translate(-350px, -1200px ) rotate(180deg) scale(1.2);
        filter: brightness(.4);
    }
    #close:checked ~ .list__header{
    transform: translateX(-100%);
    }
    .list__header label{
        transform: translateX(80px);
    }
    #close > i{
        transition: .3s;
    }
    #close.active2   > i{
        color: #00ffc3;
        text-shadow: 0 0 20px #00785c,
        0 0 40px #00785c,
        0 0 60px #00785c,
        0 0 80px #00785c;
    }
    #menu__label,
    #close{
    display: none;
}
    #service{
        width: 80vw;
        height: max-content;
        display: flex;
        flex-direction: column;
    }
    .title__service{
        padding-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .service__item {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 30px 20px;
        width: 90%;
        height: 80%;
    }
    .service__item .item{
        margin-top: 30px;
    }
    .service__item .item p{
        font-size: 12px ;
        margin: 10px 0;
    }
    .service__item .item .icon{
        padding-bottom: 10px;
    }
    .service__item .item button{
        margin-top: 30px;
    }
    #skill{
        height: max-content;
        padding-bottom: 30px;
    }
    .listSkill{ 
        margin-top: 50px;
        grid-template-columns: 1fr;
    }
    .listSkill h3{
        width: 100%;
    }
    #contact{
        height: max-content;
        display: grid;
        place-items: center;
        margin: 30px;
    }
    .list__contact{
        margin: 30px;
        display: grid;
        width: max-content;
    }
    .item__contact{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        width: 100%;
    }
    .item__contact > .item{
        width: 200px;
        height: 200px;
        padding: 0 20px;
        text-align: center;
    }
    .item__contact > .item > p{
        font-size: 16px;
    }
    .footer{
        height: max-content;
        width: 100%;
        padding: 30px 0;
    }
    .header__footer{
        width: 80%;
        height: max-content;
        width: 100%;
    }
    .list__social{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        width: 80%;
        grid-gap: 10px;
    }
    .send__email{
        width: 100%;
        display: grid;
        place-items: center;
    }
    .send__email > input{
        width: 80%;
    }
    .main__footer {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main__footer .des__footer{
        width: 100%;
    }
    .link__footer{
        width: 100%;
    }
    .list__footer{
        width: 100%;
    }
    .list__footer li a{
        font-size: 12px;
    }
}



@media  screen and (max-width: 767px) {
    #hand1 {
        position: relative;
        width: 150px;
        transform: translate(-220px , -106px) rotate(10deg);
        margin-bottom: 100px;
    }
    #hand2 {
        width: 130px;
        transform: translate(70px , -160px) rotate(20deg);
    }
    .content h1{
        font-size: 60px;
    }
    .content h5{
        font-size: 20px;
    }
    #about{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* background-color: #00c2bd; */
    }
    .image{
        width: 250px;
        height: 250px;
        border-radius: 10px;
        position: relative;
        top: 100px;
    }
    .content__about{
        /* background-color: #7100c2; */
        width: 320px;
        height: 480px;
        overflow: hidden;
        text-align: center;
        margin-top: 20px;
        /* display: grid;
        place-items: center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content__about h5{
        font-size: 15px;
        line-height: 25px;
        margin: 0;
    }
    .content__about h1{
        font-size: 20px;
        animation: neon 3ms linear infinite;
    }
    .content__about p{
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 1px;
    }
    .content__about__element{
        margin-left: 30px;
        position: absolute;
        transition: .18s ease;
        text-align: justify;
    }
    .title__seemore{
        margin-top: 10px;
        font-size: 20px;
        color: #00c295;
    }
    .year{
        color: #00785c;
        line-height: 10px;
    }
    .content__about{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content__about__element{
        width: 100%;
        padding: 0 10px;
        margin: 0;
        text-align: center;
    }
    .content__about__element .item{
        padding: 30px 0;
        /* background-color: #00c295; */
    }
    .title__service{
        padding-top: 150px;
        display: grid;
        place-items: center;
    }
    .see__more__element{
        /* margin-left: 30px; */
        position: absolute;
        transform: translateX(650px);
        transition: .20s ease;
        margin: 0;
        /* background-color: #00785c; */
        /* height: 450px; */
        display: grid;
        place-items: center;
    }
    .see__more__element p {
        line-height: 14px;
        margin: 0;
        padding: 0;
    }
    .see__more__element .item{
        padding: 0;
        margin: 0;
    }
    .title__seemore{
        margin-top: 0px;
        font-size: 14px;
        color: #00c295;
    }
    .year{
        font-size: 12px;
        color: #00785c;
        line-height: 20px;
    }
    .content__about__element .item{
        padding: 10px 0;
    }

    .logo{
        width: 40px;
        height: 40px;
    }
    .logo > img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .list__header{
        position: fixed;
        width: 70%;
        height: 100vh;
        background-color: #080d0b
        ;
        left: 0;
        top: 0;
        display: grid;
        place-items: center;
        grid-template-columns:  1fr;
        grid-template-rows: repeat(6, 70px);
        transform: translateX(-100%);
        transition: .3s;
    }
    #header{
        height: 70px;
        transition: .3s;
    }
    #header.background__header{
        background-color: #09231dba;
        transition: .3s;
    }
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header label i{
        font-size: 25px;
        color: #009270;
    }
    header input{
        position: absolute;
        display: none;
    }
    header #menu:checked ~ .list__header{
        transform: translateX(0);
    }
    label > i{
        transition: .3s;
    }
    #menu:checked ~ label > i{
        text-shadow: 0 0 20px #005b46,
        0 0 40px #005b46,
        0 0 60px #005b46,
        0 0 80px #005b46
        ;
        color: #00ffc3;
    }
    .list__header > li > a{
        text-decoration: none;
        font-size: 20px;
        color: #00d5a3;
        transition: .3s;
    }
    .list__header > li > a:hover{
        color: #00ffc3;
        text-shadow: 0 0 20px #00785c,
        0 0 40px #00785c,
        0 0 60px #00785c,
        0 0 80px #00785c;
    }
    #cloud2 {
        position: relative;
        transform: translate(-250px, -1150px ) rotate(180deg);
        filter: brightness(.4);
    }
    #close:checked ~ .list__header{
    transform: translateX(-100%);
    }
    .list__header label{
        transform: translateX(80px);
    }
    #close > i{
        transition: .3s;
    }
    #close.active2   > i{
        color: #00ffc3;
        text-shadow: 0 0 20px #00785c,
        0 0 40px #00785c,
        0 0 60px #00785c,
        0 0 80px #00785c;
    }
    #menu__label,
    #close{
    display: block;
}
    #service{
        width: 80vw;
        height: max-content;
        display: flex;
        flex-direction: column;
    }
    .title__service{
        padding-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .service__item {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 30px 20px;
        width: 90%;
        height: 80%;
    }
    .service__item .item{
        margin-top: 30px;
    }
    .service__item .item p{
        font-size: 12px ;
        margin: 10px 0;
    }
    .service__item .item .icon{
        padding-bottom: 10px;
    }
    .service__item .item button{
        margin-top: 30px;
    }
    #skill{
        height: max-content;
        padding-bottom: 30px;
    }
    .listSkill{ 
        margin-top: 50px;
        grid-template-columns: 1fr;
    }
    .listSkill h3{
        width: 100%;
    }
    #contact{
        height: max-content;
        margin: 30px 0px;
    }
    .item__contact{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
    }
    .footer{
        height: max-content;
        width: 100%;
        padding: 30px 0;
    }
    .header__footer{
        width: 80%;
        height: max-content;
        width: 100%;
    }
    .list__social{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        width: 80%;
        grid-gap: 10px;
    }
    .send__email{
        width: 100%;
        display: grid;
        place-items: center;
    }
    .send__email > input{
        width: 80%;
    }
    .main__footer {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main__footer .des__footer{
        width: 100%;
    }
    .link__footer{
        width: 100%;
    }
    .list__footer{
        width: 100%;
    }
    .list__footer li a{
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px){

    #cloud2 {
    position: relative;
    transform: translate(-250px, -1215px ) rotate(180deg);
    filter: brightness(.4);
    }
    #about{
        display: flex;
        justify-content: space-between;
    }
    #about::after {
        content: "";
        position: absolute;
        height: 20%;
        width: 120%;
        background: linear-gradient( to top, var(--background-color), var(--background-color), transparent);
        top: -10%;
        right: -10%;
        z-index: 99;
    }
    .image{
        width: 470px;
        height: 470px;
    }
    .image > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #contact{
        width: 80%;
    }
    .item__contact{
        width: 100%;
    }
    .list__contact{
        /* background-color: #00ffc3; */
        width: 100%;
    }
    .item__contact > .item{
        width: 200px;
        height: 200px;
        text-align: center;
        padding: 10px;
    }
}
